<div class="container-fluid p-4 my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded-1 category-one border bg-dark" >
              
             
              </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-1 category-two border bg-dark" >
              
             
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-1 category-three border bg-dark" >
              
             
            </div>
        </div>

        <div class="col-md-4">
            <div class="card rounded-1 category-four border bg-dark" >
              
             
            </div>
        </div>

        <div class="col-md-4">
            <div class="card rounded-1 category-five border bg-dark" >
              
             
            </div>
        </div>

        <div class="col-md-4">
            <div class="card rounded-1 category-six border bg-dark" >
              
             
            </div>
        </div>
      
    </div>
</div>
