<div class="container-fluid">
  <h2 class="fs-6 my-2">dashboard overview</h2>
  <div class="order">
    <div
      class="today-order d-flex justify-content-center align-items-center flex-column"
    >
      <i class="fs-3 uil uil-cube"></i>
      <span class="text-capitalize">today order</span>
      <h3>$23.00000</h3>
    </div>

    <div
      class="yesterday-order d-flex justify-content-center align-items-center flex-column"
    >
      <i class="fs-3 uil uil-diamond"></i>
      <span class="text-capitalize">yesterday order</span>
      <h3>$23.00000</h3>
    </div>

    <div
      class="this-month d-flex justify-content-center align-items-center flex-column"
    >
      <i class="fs-3 uil uil-comparison"></i>
      <span class="text-capitalize">this month</span>
      <h3>$23.00000</h3>
    </div>

    <div
      class="last-month d-flex justify-content-center align-items-center flex-column"
    >
      <i class="fs-3 uil uil-chart-line"></i>
      <span class="text-capitalize">last month</span>
      <h3>$23.00000</h3>
    </div>

    <div
      class="total-order d-flex justify-content-center align-items-center flex-column"
    >
      <i class="fs-3 uil uil-dialpad-alt"></i>
      <span class="text-capitalize">todal sales</span>
      <h3>$23.00000</h3>
    </div>
  </div>
</div>





