<div class="navigation">
    <div class="category">
        <i class=" mx-2 uil uil-bars"></i> 
        <span class="d-md-inline-flex d-none text-capitalize ">Category</span>

    </div>
    <div class=" sub-menu d-md-inline-flex d-none">
       <ul>
        <li><a href="">Support</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Offer today</a></li>
        <li><a href="">Best seller</a></li>
    </ul>
    </div>
    <div class=" my-2 input-group w-100 d-md-none d-inline-flex">
        <input type="text" class="search-input form-control shadow-none rounded-1" placeholder="Search for products" aria-label="Username" aria-describedby="basic-addon1">
        <span class="rounded-0 input-group-text search-btn" id="basic-addon1"><i class="uil uil-search"></i></span>
      </div>
</div>