.container-fluid {
    background-color: var(--bg-three);
}

.card{
    width: 100%;
    height: 250px;
    object-fit:contain;
    margin-bottom:10px;
    cursor: pointer;
}

.category-one {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/520/280/image/30c93ff8cf3026dd.jpg?q=20);
}
.category-two {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/520/280/image/6f23fc1a646a9c64.jpg?q=20);
}
.category-three{
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/520/280/image/24b3a35f26a0bb4b.jpg?q=20);
}
.category-four {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/520/280/image/21efa502c90cf24e.jpg?q=20);
}

 .category-five{
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/520/280/image/36a25c42073677a6.jpg?q=20);
 }

 .category-six {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/520/280/image/f44101cc97507393.jpg?q=20);
 }

