.form-control,.form-select {
    background-color: var(--bg-three);
    box-shadow: none;
    font-size: 15px;
}
.submit {
    background-color: var(--bg-four);
    color: var(--color-two);
    transition: 0.5s;

 }
 .submit:hover {
     filter: brightness(0.8);
 }
 option {
    font-size: 16px;
}
 .social-facebook,.social-google {
    color: var(--color-one);
 }
 .social-facebook i {
     color: #1877F2;
 }
 .social-google i {
     color: #f44251;
 }
.form-check-input {
    border: 2px solid var(--color-one);
    background-color: var(--bg-three);
    padding: 5px;
    cursor: pointer;
    box-shadow: none;
}
.form-check-input:checked{
    background-color: var(--bg-four);
}
