<div class="header">
    <div class=" d-flex justify-content-center align-items-center">
        <img src="../../../../assets/images/logo-light_hls14v.svg" alt="">
    </div>
    <div class="justify-content-center d-md-inline-flex d-none h-100 d-flex justify-content-center align-items-center">
        <div class="input-group w-75">
            <input type="text" class="rounded-start-1 search-input form-control" placeholder="Search for products (ex : oil , fish , veg)" aria-label="Username" aria-describedby="basic-addon1">
            <span class="rounded-end-1 input-group-text border-start search-btn" id="basic-addon1"><i class="uil uil-search"></i></span>
          </div>
    </div>
    <div class=" user-control d-flex justify-content-center align-items-center">
        <i class=" p-color-two cart fs-4 mx-3 uil uil-shopping-cart-alt"></i>
        <i class="p-color-two notification fs-4 mx-3 uil uil-bell"></i>
        <i class=" p-color-two avatar fs-3 mx-4 uil-user-circle"></i>
    </div>
</div>