<footer>
  <div class="container">
    <img src="../../../../assets/images/logo-light_hls14v.svg" alt="" />

    <hr class="" style="margin:20px 0px;height:20px;color: rgb(110, 110, 110);">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <h4 class="fs-6 fw-normal mb-3">Quick links</h4>

        <ul class="list-group p-0 m-0">
          <li
            class="list-group-item p-0 m-0  bg-transparent border-0 text-light"
          >
            <a href="">Seller</a>
          </li>
          <li class="list-group-item  p-0 m-0 bg-transparent border-0">
            <a href="">Account</a>
          </li>
          <li class="list-group-item bg-transparent p-0 m-0 border-0">
            <a href="">About us</a>
          </li>
          <li class="list-group-item bg-transparent border-0 p-0 m-0">
            <a href="">Terms & Conditions</a>
          </li>
          <li class="list-group-item bg-transparent p-0 m-0 border-0">
            <a href="">Return policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="fs-6 fw-normal">The category</h4>
        <ul class="list-group p-0 m-0">
          <li
            class="list-group-item p-0 m-0 bg-transparent border-0 text-light"
          >
            <a href="">Seller</a>
          </li>
          <li class="list-group-item p-0 m-0 bg-transparent border-0">
            <a href="">products</a>
          </li>
          <li class="list-group-item bg-transparent p-0 m-0 border-0">
            <a href="">Man's</a>
          </li>
          <li class="list-group-item bg-transparent border-0 p-0 m-0">
            <a href="">Women's</a>
          </li>
          <li class="list-group-item bg-transparent p-0 m-0 border-0">
            <a href="">Top deals</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="fs-6 fw-normal">Help</h4>
        <ul class="list-group p-0 m-0">
          <li
            class="list-group-item p-0 m-0 bg-transparent border-0 text-light"
          >
            <a href="">FAQ</a>
          </li>
          <li class="list-group-item p-0 m-0 bg-transparent border-0">
            <a href="">Contacts</a>
          </li>
          <li class="list-group-item bg-transparent p-0 m-0 border-0">
            <a href="">Live chats</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row my-4">
        <div class="col-md-6">
            <span>All right reseved by karimul in 2031</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="social">
                <a href=""><i class="uil uil-instagram fs-4 mx-3"></i></a>
                <a href=""><i class="uil uil-facebook-f fs-4 mx-3"></i></a>
                <a href=""><i class="uil uil-twitter fs-4 mx-3 "></i></a>
            </div>
        </div>
    </div>
  </div>

</footer>
