footer{
    background-color: var(--bg-five);
    width: 100%;
    height:auto;
    padding: 50px 5px;
}

footer h4{
    color: var(--bg-one);
}
footer a,span{
    color: var(--color-three);
    font-size: 13px;
}
.social {
    i{
        color: var(--bg-three);
    }
}