<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>filter action</h3>
    </div>
    <div class="col-md-10 products">
      <div class="row py-4">
        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="card rounded-1">
            <div
              class="card-body d-flex justify-content-center align-items-center"
            >
              <img
                width="70%"
                height="150px"
                src="https://m.media-amazon.com/images/I/41WnWm3IjiL._AC_SY200_.jpg"
                alt=""
              />
            </div>
            <div class="card-footer px-4 border-0">
              <p class="p-0 m-0 py-1">New mobile phone</p>
              <h6 class="m-0 p-0">$40 only</h6>
              <div class="d-flex justify-content-between py-2">
                <button class="btn-buy text-capitalize">buy now</button>
                <button
                  class="btn-add d-flex justify-content-center align-items-center"
                >
                  <i class="fs-4 uil uil-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-cont py-4">
        <div class="mb-3 btn-group rounded-1 overflow-hidden">
          <button class="prev text-capitalize">prev</button>
          <button class="next text-capitalize">next</button>
        </div>

        <div class="pagination">
          <div><i class="fs-4 uil uil-angle-left"></i></div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div><i class="uil uil-ellipsis-h"></i></div>
          <div>100</div>
          <div><i class="fs-4 uil uil-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
